<!DOCTYPE html>
<html>
<head>
    <title>Air Pollutant</title>

    <script src="jquery/dist/jquery.js"></script>

    <script src="moment/min/moment.min.js"></script>
    <script src="moment-timezone/builds/moment-timezone-with-data.js"></script>

    <script src="highcharts/highcharts.js"></script>
    <script src="highcharts/modules/windbarb.js"></script>
    <script src="highcharts/modules/exporting.js"></script>
    <script src="highcharts/modules/series-label.js"></script>
    <script src="highcharts/modules/data.js"></script>
    <script src="highcharts/modules/export-data.js"></script>

    <script src="scripts/Meteogram.js"></script>
</head>
<body>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto">
    <div style="margin-top: 100px; text-align: center" id="loading">
        <i class="fa fa-spinner fa-spin"></i> Loading data from external source
    </div>
</div>

</body>
</html>
